<!--
	작성자: 윤지혜
	최종 수정일: 2020/09/14
	업데이트 버전: 1.0
-->
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
	<header id="header">
		<h1>
			<a href="#">지혜의 아늑한 홈페이지</a>
		</h1>
	</header>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>